name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
          
      - name: Install Chrome Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgconf-2-4 libatk1.0-0 libatk-bridge2.0-0 libgdk-pixbuf2.0-0 libgtk-3-0 libgbm-dev libnss3-dev libxss-dev libasound2

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      

      - name: Lint
        run: deno lint

      - name: Test - Set Up CHROME_BIN
        run: export CHROME_BIN=$(which chrome)

      - name: Test - Start deno server
        run: deno task start

      - name: Test - Apply Test file here 
        run:  deno task test --quiet
